---
import PageHeader from "../../../components/PageHeader.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout>
  <PageHeader
    title="Canadian Crisis Centres"
    overview={[
      "NEW! Canada&rsquo;s 988 hotline, gives people access to suicide prevention services via call or text.",
      "People in every province and territory who are experiencing a mental health   crisis and need immediate, real-time support can use the three-digit number. Similar to 911 for accessing fire, police and medical emergencies, 988: Suicide Crisis Helpline is a short, easy-to-remember number to get a quick response from coast to coast to coast, 24/7 and free of charge.",
      "Calls and texts to 988 will be directed to a network of partners in communities across the country offering suicide prevention services such as counselling. The 988 service is federally funded and available in English and French.",
    ]}
    media={{
      path: "/media/canada-crisis-centers.webp",
    }}
  />

  <section class=""></section>
</Layout>
