---
import Layout from "../../../layouts/Layout.astro";
---

<Layout>
  <section class="grid grid-cols-1 lg:grid-cols-2 lg:items-center">
    <div
      class="[&>p]:text-base [&>p]:text-pretty [&>p]:leading-8 [&>p:not(:first-child)]:mt-3"
    >
      <h1
        class="scroll-m-20 text-4xl font-extrabold tracking-tight text-balance"
      >
        Canadian Crisis Centres
      </h1>
      <p>
        NEW! Canada&rsquo;s 988 hotline, gives people access to suicide
        prevention services via call or text.
      </p>
      <p>
        People in every province and territory who are experiencing a mental
        health crisis and need immediate, real-time support can use the
        three-digit number. Similar to 911 for accessing fire, police and
        medical emergencies, 988: Suicide Crisis Helpline is a short,
        easy-to-remember number to get a quick response from coast to coast to
        coast, 24/7 and free of charge.
      </p>
      <p>
        Calls and texts to 988 will be directed to a network of partners in
        communities across the country offering suicide prevention services such
        as counselling. The 988 service is federally funded and available in
        English and French.
      </p>
    </div>
    <img src="/media/canada-crisis-centers.webp" alt="" class="aspect-video" />
  </section>
  <section class=""></section>
</Layout>
