---
import PageHeader from "../../../components/PageHeader.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout>
  <PageHeader
    title="International Crisis Centres"
    overview={[
      "If in crisis, call 911 or the Mental Health Crisis Lines provided below The LifeLine Canada Foundation is not a crisis hotline. Following are some international crisis helpline or hotline information",
    ]}
    media={{
      path: "/media/international-crisis-centers-banner.webp",
    }}
  />
  <section class=""></section>
</Layout>
