---
import Layout from "../../../layouts/Layout.astro";
---

<Layout>
  <section
    class="grid grid-cols-1 lg:grid-cols-2 lg:items-centerInternational Crisis Centres"
  >
    <div
      class="[&>p]:text-base [&>p]:text-pretty [&>p]:leading-8 [&>p:not(:first-child)]:mt-3"
    >
      <h1
        class="scroll-m-20 text-4xl font-extrabold tracking-tight text-balance"
      >
        International Crisis Centres
      </h1>
      <p>
        If in crisis, call 911 or the Mental Health Crisis Lines provided below.
        The LifeLine Canada Foundation is not a crisis hotline. Following are
        some international crisis helpline or hotline information.
      </p>
    </div>
    <img
      src="/media/international-crisis-centers-banner.webp"
      alt=""
      class="aspect-video"
    />
  </section>
  <section class=""></section>
</Layout>
