---
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <section class="grid items-center grid-cols-2 gap-16">
    <div class="max-w-4xl col-span-2 lg:col-span-1 text-balance">
      <h1 class="landing-headline">In Crisis? Need Help?</h1>
      <p class="mt-4 text-base leading-7 text-black text-balance">
        For non crisis questions and comments or to contact The LifeLine Canada
        Foundation about collaborating please use the contact form below.
      </p>
      <p class="mt-4 text-base leading-7 text-black text-balance">
        The LifeLine Canada Foundation (TLC) is a registered non-profit
        committed to the prevention of suicide and positive mental health in
        Canada and Worldwide and has made work in this area a top priority. We
        envision a country where suicide is a rare event, where people are
        nurtured and supported, where individuals and families are aware of the
        risk factors for suicide and actively seek help from accessible,
        effective community resources.
      </p>
    </div>
    <div class="col-span-2 lg:col-span-1">
      <img
        src="/media/company-banner.jpg"
        alt="temporary image until main image arrives."
        class="landing-media"
      />
    </div>
    <div class="col-span-2 p-6 bg-violet-300 rounded-xl">
      <p class="text-base leading-7">
        When clicking 3rd party links, you will be redirected to websites not
        affiliated to, but with the underlying support of The LifeLine Canada
        Foundation.
      </p>
    </div>
  </section>
  <section class="grid grid-cols-1 gap-16 md:grid-cols-2 lg:grid-cols-3">
    <Card
      title="Canada"
      overview="People in every province and territory who are experiencing a mental health crisis and need immediate, real-time support can use the three-digit number"
      url_path="in-crisis-need-help"
    />
    <Card
      title="United States America"
      overview="United States Suicide Prevention Lifelines are available 24/7   988 Suicide and Crisis Lifeline (Formerly National Suicide Prevention Hotline) Call or Text 988 from anywhere in the USA or call National Hope Helpline at 1-800-SUICIDE (1-800-784-2433)"
      url_path="in-crisis-need-help"
    />
    <Card
      title="International"
      overview="If in crisis, call 911 or the Mental Health Crisis Lines provided below. The LifeLine Canada Foundation is not a crisis hotline. Following are some international crisis helpline or hotline information."
      url_path="in-crisis-need-help"
    />
  </section>
</Layout>
