---
import Card from "../../components/Card.astro";
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <PageHeader
    title="In Crisis? Need Help?"
    overview={[
      "In Crisis? Call or Text 988 Canada’s new suicide prevention hotline. If you or someone you know is in danger of hurting themselves or others, call 911 immediately. See our directory of  mental health crisis support in your area below.",
      "Seek the advice of an appropriately qualified healthcare professional before making decisions about your circumstances.",
    ]}
    media={{
      path: "/media/in-crisis-j-dean-GiIf78pOQ0Q-unsplash.jpg.webp",
      summary: "A descriptive alt text",
    }}
  />
  <section class="grid grid-cols-1 lg:grid-cols-3 gap-16">
    <Card title="Canada" basePath="in-crisis-need-help" />
    <Card title="USA" basePath="in-crisis-need-help" />
    <Card title="International" basePath="in-crisis-need-help" />
  </section>
</Layout>
