@import "tailwindcss";

@theme {
  ---color-white: #fbfaff;
  ---color-black: #020104;
  ---color-brand-50: #f3f0ff;
  ---color-brand-100: #e5dbff;
  ---color-brand-200: #d0bfff;
  ---color-brand-300: #b197fc;
  ---color-brand-400: #9775fa;
  ---color-brand-500: #845ef7;
  ---color-brand-600: #7950f2;
  ---color-brand-700: #7048e8;
  ---color-brand-800: #6741d9;
  ---color-brand-900: #5f3dc4;
  ---color-brand-950: #291065;
}
* {
  vertical-align: baseline;
}
header {
  background-color: var(--color-white);
}
body {
  background-color: var(--color-white);
}
footer {
  background-color: var(--color-violet-600);
  color: var(--color-white);
}
.wrapper {
  width: 90%;
  margin: 0rem auto;
  max-width: var(--container-7xl);
}
.landing-headline {
  @apply scroll-m-20 leading-[1.25] text-4xl lg:text-5xl font-bold text-balance;
}
.landing-media {
  @apply w-full aspect-video lg:aspect-[16/11] object-center object-cover rounded-xl;
}
.btn {
  @apply inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border focus-visible:ring-black/50 focus-visible:ring-[3px] aria-invalid:ring-red-600/20 dark:aria-invalid:ring-red-600/40 aria-invalid:border-red-600  h-9 px-4 py-2 has-[>svg]:px-3;
}
.btn-black {
  @apply bg-black text-white hover:bg-black/90;
}
