---
import Layout from "../layouts/Layout.astro";
import { about_page_page_info } from "../lib/data";
---

<Layout>
  <section class="grid items-center grid-cols-2 gap-16 mt-16">
    <div class="max-w-4xl col-span-2 lg:col-span-1 text-balance">
      <h1
        class="text-black leading-loose text-4xl font-semibold tracking-tight text-balance lg:leading-[1.1] lg:font-semibold xl:text-5xl xl:tracking-tight"
      >
        {about_page_page_info.heading}
      </h1>

      {
        about_page_page_info.overview.map((paragraph: string) => (
          <p class="mt-4 text-base leading-7 text-black text-balance">
            {paragraph}
          </p>
        ))
      }
    </div>
    <div class="col-span-2 lg:col-span-1">
      <img
        src={about_page_page_info.media.path}
        alt={about_page_page_info.media.description}
        class="object-cover object-center w-full aspect-video rounded-xl"
      />
    </div>
    <div class="col-span-2 p-6 bg-violet-300 rounded-xl">
      <p class="text-base leading-7">
        When clicking 3rd party links, you will be redirected to websites not
        affiliated to, but with the underlying support of The LifeLine Canada
        Foundation.
      </p>
    </div>
  </section>
  <section class="text-base leading-7 max-w-3xl text-pretty">
    <h2
      class="scroll-m-20 pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0"
    >
      Mission
    </h2>
    <p>
      To aid in suicide reduction across Canada by raising awareness of risk
      factors, delivering programs for positive mental health development,
      providing access to available resource options, and promoting local
      programs to build mental health resilience for all.
    </p>
  </section>
</Layout>
