---
import PageHeader from "../components/PageHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <PageHeader
    title="About Us!"
    overview={[
      "The LifeLine Canada Foundation (or TLC) is a registered non-profit, committed to positive mental health and suicide prevention & awareness and is constantly developing new initiatives in support of these goals.",
      "The LifeLine Canada Foundation is not a crisis hotline. If in Crisis, call or text 988 for Canada’s new suicide prevention hotline. If you or someone you know is in danger of hurting themselves or others, call 911 immediately. See our directory of mental health crisis support in your area.",
    ]}
    media={{
      path: "/media/company-banner.jpg",
      summary: "A descriptive alt text"
    }}
  />
  <section class="max-w-3xl text-base leading-7 text-pretty">
    <h2
      class="pb-2 text-3xl font-semibold tracking-tight transition-colors scroll-m-20 first:mt-0"
    >
      Mission
    </h2>
    <p>
      To aid in suicide reduction across Canada by raising awareness of risk
      factors, delivering programs for positive mental health development,
      providing access to available resource options, and promoting local
      programs to build mental health resilience for all.
    </p>
  </section>
</Layout>
