---
import Layout from "../layouts/BaseLayout.astro";
import { about_page_page_info } from "../lib/data";
---

<Layout
  title={about_page_page_info.heading}
  summary={about_page_page_info.overview}
  image_path={about_page_page_info.media.path}
  image_description={about_page_page_info.media.description}
>
  <p>This is some additional content for the page!</p>
</Layout>
