---
import Layout from "../layouts/BaseLayout.astro";
import { about_page_page_info } from "../lib/data";
---

<Layout
  title={about_page_page_info.heading}
  summary={about_page_page_info.overview}
  image_path={about_page_page_info.media.path}
  image_description={about_page_page_info.media.description}
>
  <section class="text-base leading-7 max-w-3xl text-pretty">
    <h2
      class="scroll-m-20 pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0"
    >
      Mission
    </h2>
    <p>
      To aid in suicide reduction across Canada by raising awareness of risk
      factors, delivering programs for positive mental health development,
      providing access to available resource options, and promoting local
      programs to build mental health resilience for all.
    </p>
  </section>
</Layout>
