---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="grid items-center grid-cols-2 gap-16">
    <div class="max-w-4xl col-span-2 lg:col-span-1 text-balance">
      <h1 class="landing-headline">Contact Us!</h1>
      <p class="mt-4 text-base leading-7 text-black text-balance">
        For non crisis questions and comments or to contact The LifeLine Canada
        Foundation about collaborating please use the contact form below.
      </p>
      <p class="mt-4 text-base leading-7 text-black text-balance">
        The LifeLine Canada Foundation (TLC) is a registered non-profit
        committed to the prevention of suicide and positive mental health in
        Canada and Worldwide and has made work in this area a top priority. We
        envision a country where suicide is a rare event, where people are
        nurtured and supported, where individuals and families are aware of the
        risk factors for suicide and actively seek help from accessible,
        effective community resources.
      </p>
      <p class="mt-4 text-base leading-7 text-black text-balance">
        For complete details of TLC’s Companion Paws program and process please
        see: CompanionPaws.ca
      </p>
      <p class="mt-4 text-base leading-7 text-black text-balance">
        For crisis support, please click here to contact our support team.
      </p>
    </div>
    <div class="col-span-2 lg:col-span-1">
      <img src="/media/contact-us-banner.webp" alt="" class="landing-media" />
    </div>
  </section>
  <form action="#" class="col-span-2 flex flex-col gap-4">
    <h2 class="scroll-m-20 text-4xl sm:text-3xl xl:text-4xl">
      TLC Email Contact Form
    </h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
      <div class="my-3">
        <label
          for="user_email"
          class="mb-3 items-center text-sm font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50 group/field-label peer/field-label flex w-fit gap-2 leading-snug group-data-[disabled=true]/field:opacity-50 has-[>[data-slot=field]]:w-full has-[>[data-slot=field]]:flex-col has-[>[data-slot=field]]:rounded-md has-[>[data-slot=field]]:border [&>*]:data-[slot=field]:p-4 has-data-[state=checked]:bg-primary/5 has-data-[state=checked]:border-primary dark:has-data-[state=checked]:bg-primary/10"
        >
          First Name:
        </label>
        <input
          type="email"
          id="user_email"
          name="user_email"
          class="file:text-foreground placeholder:text-gray-300 selection:bg-primary selection:text-primary-foreground dark:bg-input/30 border-input h-9 w-full min-w-0 rounded-md border bg-transparent px-3 py-1 text-base shadow-xs transition-[color,box-shadow] outline-none file:inline-flex file:h-7 file:border-0 file:bg-transparent file:text-sm file:font-medium disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive"
          required
        />
      </div>
      <div class="my-3">
        <label
          for="user_email"
          class="mb-3 items-center text-sm font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50 group/field-label peer/field-label flex w-fit gap-2 leading-snug group-data-[disabled=true]/field:opacity-50 has-[>[data-slot=field]]:w-full has-[>[data-slot=field]]:flex-col has-[>[data-slot=field]]:rounded-md has-[>[data-slot=field]]:border [&>*]:data-[slot=field]:p-4 has-data-[state=checked]:bg-primary/5 has-data-[state=checked]:border-primary dark:has-data-[state=checked]:bg-primary/10"
        >
          Last Name:
        </label>
        <input
          type="email"
          id="user_email"
          name="user_email"
          class="file:text-foreground placeholder:text-gray-300 selection:bg-primary selection:text-primary-foreground dark:bg-input/30 border-input h-9 w-full min-w-0 rounded-md border bg-transparent px-3 py-1 text-base shadow-xs transition-[color,box-shadow] outline-none file:inline-flex file:h-7 file:border-0 file:bg-transparent file:text-sm file:font-medium disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive"
          required
        />
      </div>
    </div>
    <div class="">
      <label
        for="user_email"
        class="items-center text-sm font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50 group/field-label peer/field-label flex w-fit gap-2 leading-snug group-data-[disabled=true]/field:opacity-50 has-[>[data-slot=field]]:w-full has-[>[data-slot=field]]:flex-col has-[>[data-slot=field]]:rounded-md has-[>[data-slot=field]]:border [&>*]:data-[slot=field]:p-4 has-data-[state=checked]:bg-primary/5 has-data-[state=checked]:border-primary dark:has-data-[state=checked]:bg-primary/10"
      >
        Email:
      </label>
      <input
        type="email"
        id="user_email"
        name="user_email"
        class="file:text-foreground placeholder:text-gray-300 selection:bg-primary selection:text-primary-foreground dark:bg-input/30 border-input h-9 w-full min-w-0 rounded-md border bg-transparent px-3 py-1 text-base shadow-xs transition-[color,box-shadow] outline-none file:inline-flex file:h-7 file:border-0 file:bg-transparent file:text-sm file:font-medium disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive"
        required
      />
    </div>
    <div class="">
      <label
        for="user_email"
        class="mb-3 items-center text-sm font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50 group/field-label peer/field-label flex w-fit gap-2 leading-snug group-data-[disabled=true]/field:opacity-50 has-[>[data-slot=field]]:w-full has-[>[data-slot=field]]:flex-col has-[>[data-slot=field]]:rounded-md has-[>[data-slot=field]]:border [&>*]:data-[slot=field]:p-4 has-data-[state=checked]:bg-primary/5 has-data-[state=checked]:border-primary dark:has-data-[state=checked]:bg-primary/10"
      >
        Questions or Comments:
      </label>
      <textarea
        data-slot="textarea"
        class="border-input placeholder:text-muted-foreground focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive dark:bg-input/30 flex field-sizing-content min-h-16 w-full rounded-md border bg-transparent px-3 py-2 text-base shadow-xs transition-[color,box-shadow] outline-none focus-visible:ring-[3px] disabled:cursor-not-allowed disabled:opacity-50 md:text-sm resize-none"
        id="checkout-7j9-optional-comments"
        placeholder="Add any additional comments"></textarea>
    </div>
    <div class="">
      <button class="btn btn-black">Button</button>
    </div>
  </form>
</Layout>
