---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section
    class="grid grid-cols-2 gap-16 lg:gap-32 my-16 lg:my-32 items-center"
  >
    <div class="col-span-2 lg:col-span-1">
      <h1
        class="scroll-m-20 text-4xl font-extrabold tracking-tight text-balance"
      >
        Make a Contribution
      </h1>
      <p class="text-base leading-7 mt-6">
        A gift to The LifeLine Canada Foundation helps fund our mission to save
        lives and give hope to those affected by suicide, depression, anxiety
        and PTSD. If you have questions about your gift or about other ways in
        which one could contribute, please don’t hesitate to contact us.
      </p>
      <p class="text-base leading-7 mt-6">
        Thank you very much for considering donating to the LifeLine Canada
        Foundation. This Foundation gets funded 100% by the services we offer,
        fundraising we do and by the generosity of people that choose to
        contribute, like yourself.
      </p>
      <a
        href="https://www.paypal.com/donate?token=YE9Q5uANvL8XjNjDRLPlBFwcoJjllj4McDf7WYY6xdr1-_QQRWHXp6wL7AahOTpDX-8do5OYYbjMRc5C"
        target="_blank"
        class="mt-6 w-fit block px-6 py-3 bg-violet-600 text-violet-50 font-medium capitalize rounded-xl"
      >
        Donate Through Paypal
      </a>
    </div>
    <div class="col-span-2 lg:col-span-1">
      <img src="/media/contribute.jpg" alt="" class="landing-media" />
    </div>
  </section>
</Layout>
