---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="grid items-center grid-cols-2 gap-16">
    <div class="max-w-4xl col-span-2 lg:col-span-1 text-balance">
      <h1 class="landing-headline">Contact Us!</h1>
      <p class="mt-4 text-base leading-7 text-black text-balance">
        For non crisis questions and comments or to contact The LifeLine Canada
        Foundation about collaborating please use the contact form below.
      </p>
      <p class="mt-4 text-base leading-7 text-black text-balance">
        The LifeLine Canada Foundation (TLC) is a registered non-profit
        committed to the prevention of suicide and positive mental health in
        Canada and Worldwide and has made work in this area a top priority. We
        envision a country where suicide is a rare event, where people are
        nurtured and supported, where individuals and families are aware of the
        risk factors for suicide and actively seek help from accessible,
        effective community resources.
      </p>
      <p class="mt-4 text-base leading-7 text-black text-balance">
        For complete details of TLC’s Companion Paws program and process please
        see: CompanionPaws.ca
      </p>
      <p class="mt-4 text-base leading-7 text-black text-balance">
        For crisis support, please click here to contact our support team.
      </p>
    </div>
    <div class="col-span-2 lg:col-span-1">
      <img src="/media/company-banner.jpg" alt="" class="landing-media" />
    </div>
  </section>
  <div class="col-span-2 p-6 bg-violet-300 rounded-xl">
    <p class="text-base leading-7">
      When clicking 3rd party links, you will be redirected to websites not
      affiliated to, but with the underlying support of The LifeLine Canada
      Foundation.
    </p>
  </div>
</Layout>
<p>This is some additional content for the page!</p>
