---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <section class="grid grid-cols-2 items-center gap-16">
    <div class="col-span-2 lg:col-span-1 max-w-4xl text-balance">
      <h1
        class="text-black leading-loose text-4xl font-semibold tracking-tight text-balance lg:leading-[1.1] lg:font-semibold xl:text-5xl xl:tracking-tight"
      >
        Mental Health Resources At Your Fingertips!
      </h1>
      <p class="text-black text-base text-balance sm:text-lg mt-4">
        Do you or someone you care about struggle with thoughts of suicide or
        other mental health issues? We’re here to help. The guides, tools and
        resources throughout this site represent a compilation of resources from
        various sources across the Globe as noted.
      </p>
      <div class="flex items-center gap-6 mt-6">
        <a href="" class="block">Get Help Now</a>
        <a href="" class="block">Break Patterns</a>
      </div>
    </div>
    <div class="col-span-2 lg:col-span-1">
      <img
        src="/media/mother-and-daughter-talking-seriously.jpg"
        alt=""
        class="landing-media"
      />
    </div>
    <div class="col-span-2 bg-violet-300 p-6 rounded-xl">
      <p class="text-base leading-7">
        When clicking 3rd party links, you will be redirected to websites not
        affiliated to, but with the underlying support of The LifeLine Canada
        Foundation.
      </p>
    </div>
  </section>
  <section class="">
    <div class="max-w-[90ch] space-y-3">
      <h2
        class="scroll-m-20 text-3xl font-semibold tracking-tight transition-colors first:mt-0"
      >
        What Can We Help You With?
      </h2>
      <p class="text-xl leading-8">
        We are not a crisis hotline but we believe you deserve support &mdash;
        and it&rsquo;s okay to ask for it.
      </p>
    </div>
  </section>
  <section class="">
    <div class="max-w-[90ch] space-y-3">
      <h2
        class="scroll-m-20 text-3xl font-semibold tracking-tight transition-colors first:mt-0"
      >
        The LifeLine Mobile App
      </h2>
      <p class="text-xl leading-8">
        Awareness App that offers access and guidance to support for those
        suffering in crisis and those who have suffered the devastating loss of
        a loved one from suicide.
      </p>
    </div>
  </section>
  <section class="">
    <div class="max-w-[90ch] space-y-3">
      <h2
        class="scroll-m-20 text-3xl font-semibold tracking-tight transition-colors first:mt-0"
      >
        Companion Paws Canada (CPC)
      </h2>
      <p class="text-xl leading-8">
        Companion Paws is dedicated to supporting Canadians in need while
        providing a second chance for pets in rescues through The LifeLine
        Canada&rsquo;s (T.L.C.) Companion Paws Therapy Dog Adoption Program and
        a Certify Your Own Dog Program for ones with their own fully trained and
        temperament suitable dogs.
      </p>
    </div>
  </section>
</Layout>
