---
import ContentCard from "../components/ContentCard.astro";
import Layout from "../layouts/Layout.astro";
import { resources } from "../lib/data";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <section class="grid grid-cols-1 items-center gap-16">
    <div class="[&>p]:max-w-4xl [&>p]:text-balance">
      <h1 class="landing-headline max-w-[30ch]">
        Helping People Feel Supported, Seen, and Stronger.
      </h1>
      <p class="text-black text-base text-balance sm:text-lg mt-4">
        Do you or someone you care about struggle with thoughts of suicide or
        other mental health issues? We&rsquo;re here to help. The guides, tools
        and resources throughout this site represent a compilation of resources
        from various sources across the Globe as noted.
      </p>
      <div class="flex items-center gap-6 mt-6">
        <a href="" class="block btn btn-black">Get Help Now</a>
        <a href="" class="block btn border">Break Patterns</a>
      </div>
    </div>
    <div class="">
      <img
        src="/media/emma-simpson-mNGaaLeWEp0-unsplash.jpg"
        alt=""
        class="landing-media"
      />
    </div>
  </section>
  <section class="grid grid-cols-3 gap-10">
    <div class="col-span-3">
      <h2
        class="scroll-m-20 text-3xl font-semibold tracking-tight transition-colors first:mt-0"
      >
        What Can We Help You With?
      </h2>
      <p class="text-xl leading-8 max-w-prose">
        We are not a crisis hotline but we believe you deserve support &mdash;
        and it&rsquo;s okay to ask for it. The guides, tools and resources
        throughout this site represent a compilation of resources from various
        sources across the Globe as noted.
      </p>
    </div>
    {
      resources.map((resource) => {
        return (
          <ContentCard
            key={resource.id}
            title={resource.title}
            description={resource.description}
            type="Resources"
            thumbnail={{
              src: resource.thumbnail.src,
              alt: resource.thumbnail.alt,
            }}
            url={resource.url}
          />
        );
      })
    }
    <span class="col-span-3">
      <a href="/resources" class="">View All Resources</a>
    </span>
  </section>
  <section class="grid grid-cols-2 items-center gap-y-8">
    <div class="col-span-2 max-w-[90ch] space-y-3">
      <h2
        class="scroll-m-20 text-3xl font-semibold tracking-tight transition-colors first:mt-0"
      >
        Mental Health Resources At Your Fingertips!
      </h2>
      <p class="text-xl leading-8">
        The LifeLine App is a free Suicide Prevention and Awareness App that
        offers access and guidance to support for those suffering in crisis, and
        those who have suffered the devastating loss of a loved one from
        suicide, as well as for those struggling with any degree of anxiety or
        depression. The LifeLine App also provides awareness, education and
        prevention strategies to guide people in crisis.
      </p>
    </div>
    <div class="w-full aspect-square bg-gray-300 rounded-2xl"></div>
    <figure class="col-span-2 lg:col-span-1 w-full flex justify-between gap-8">
      <ul class="list-disc list-inside [&>li]:ml-6 [&>li]:mt-3">
        <li class="">One touch dialing from anywhere in Canada.</li>
        <li class="">
          Fast and easy access to crisis centres all across Canada
        </li>
        <li>
          Connect someone in crisis with the support and guidance they need 24/7
        </li>
        <li>Aid in suicide prevention</li>
        <li>Build suicide awareness</li>
        <li>Help guide loved ones left behind after a suicide</li>
        <li>Online Chat, Text & Email Crisis Help</li>
        <li>Canadian Crisis Line Centres Mapping</li>
        <li>Self Management tools</li>
        <li>ECounselling</li>
        <li>Pattern Interrupts</li>
        <li>Mental Health Apps from across the Globe</li>
        <li>Attempt Survivor support Access</li>
        <li>Canadian & Global Online Resources</li>
        <li>International Crisis Lines</li>
      </ul>
    </figure>
  </section>
  <section class="">
    <div class="max-w-[90ch] space-y-3">
      <h2
        class="scroll-m-20 text-3xl font-semibold tracking-tight transition-colors first:mt-0"
      >
        Companion Paws Canada (CPC)
      </h2>
      <p class="text-xl leading-8">
        Companion Paws is dedicated to supporting Canadians in need while
        providing a second chance for pets in rescues through The LifeLine
        Canada&rsquo;s (T.L.C.) Companion Paws Therapy Dog Adoption Program and
        a Certify Your Own Dog Program for ones with their own fully trained and
        temperament suitable dogs.
      </p>
    </div>
  </section>
</Layout>
