---
import Layout from "../layouts/BaseLayout.astro";
import { pattern_interrupts_page_info } from "../lib/data";
---

<Layout
  title={pattern_interrupts_page_info.heading}
  summary={pattern_interrupts_page_info.overview}
  image_path={pattern_interrupts_page_info.media.path}
  image_description={pattern_interrupts_page_info.media.description}
>
  <p>This is some additional content for the page!</p>
</Layout>
