---
import Layout from "../layouts/BaseLayout.astro";
import { projects_page_info } from "../lib/data";
---

<Layout
  title={projects_page_info.heading}
  summary={projects_page_info.overview}
  image_path={projects_page_info.media.path}
  image_description={projects_page_info.media.description}
>
  <p>This is some additional content for the page!</p>
</Layout>
