---
import Layout from "../layouts/BaseLayout.astro";
import { resources_page_info } from "../lib/data";
---

<Layout
  title={resources_page_info.heading}
  summary={resources_page_info.overview}
  image_path={resources_page_info.media.path}
  image_description={resources_page_info.media.description}
>
  <p>This is some additional content for the page!</p>
</Layout>
