<footer class="lg:mt-32">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 wrapper gap-8 py-32"
  >
    <div class="">
      <p class="text-lg font-semibold capitalize">Are you absolutely sure?</p>
      <ul class="mt-3 ml-6 list-disc [&>li]:mt-2">
        <li>1st level of puns: 5 gold coins</li>
        <li>2nd level of jokes: 10 gold coins</li>
        <li>3rd level of one-liners : 20 gold coins</li>
      </ul>
    </div>
    <div class="">
      <p class="text-lg font-semibold capitalize">Are you absolutely sure?</p>
      <ul class="mt-3 ml-6 list-disc [&>li]:mt-2">
        <li>1st level of puns: 5 gold coins</li>
        <li>2nd level of jokes: 10 gold coins</li>
        <li>3rd level of one-liners : 20 gold coins</li>
      </ul>
    </div>
    <div class="">
      <p class="text-lg font-semibold capitalize">Are you absolutely sure?</p>
      <ul class="mt-3 ml-6 list-disc [&>li]:mt-2">
        <li>1st level of puns: 5 gold coins</li>
        <li>2nd level of jokes: 10 gold coins</li>
        <li>3rd level of one-liners : 20 gold coins</li>
      </ul>
    </div>
    <div class="">
      <p class="text-lg font-semibold capitalize">Are you absolutely sure?</p>
      <ul class="mt-3 ml-6 list-disc [&>li]:mt-2">
        <li>1st level of puns: 5 gold coins</li>
        <li>2nd level of jokes: 10 gold coins</li>
        <li>3rd level of one-liners : 20 gold coins</li>
      </ul>
    </div>
  </div>
</footer>
