<footer class="lg:mt-32">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 wrapper py-32">
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
  </div>
</footer>
