---
import { top_navigation } from "../lib/data";
---

<header class="sticky top-0 shadow z-90">
  <div class="grid items-center grid-cols-2 gap-6 py-6 wrapper">
    <div class="flex items-center justify-between col-span-2 lg:col-span-1">
      <p>The LifeLine Canada Foundation</p>
      <button class="text-2xl leading-1 lg:hidden">&#8801;</button>
      <button class="hidden text-2xl leading-1">×</button>
    </div>
    <nav class="hidden col-span-2 lg:block lg:col-span-1">
      <ul
        class="flex flex-col items-start lg:flex-row lg:items-center lg:justify-end lg:gap-3 [&>li]:capitalize [&>li]:text-base [&>li]:leading-7 [&>li]:hover:underline"
      >
        {
          top_navigation.map((paths) => {
            return (
              <li key={paths.id}>
                <a href={paths.url}>{paths.title}</a>
              </li>
            );
          })
        }
      </ul>
    </nav>
  </div>
</header>
