---
import { top_navigation } from "../lib/data";
---

<header class="sticky top-0 shadow z-90">
  <div class="bg-violet-300">
    <p class="text-xs leading-9 wrapper text-center">
      When clicking 3rd party links, you will be redirected to websites not
      affiliated to, but with the underlying support of The LifeLine Canada
      Foundation.
    </p>
  </div>
  <div class="grid items-center grid-cols-2 gap-6 py-6 wrapper">
    <div class="flex items-center justify-between col-span-2 lg:col-span-1">
      <p>The LifeLine Canada Foundation</p>
      <button class="text-2xl leading-1 lg:hidden">&#8801;</button>
      <button class="hidden text-2xl leading-1">×</button>
    </div>
    <nav class="hidden col-span-2 lg:block lg:col-span-1">
      <ul
        class="flex flex-col items-start lg:flex-row lg:items-center lg:justify-end lg:gap-3 [&>li]:capitalize [&>li]:text-base [&>li]:leading-7 [&>li]:hover:underline"
      >
        {
          top_navigation.map((path) => (
            <li>
              <a href={path.url}>{path.title}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
