---
import PageHeader from "../../../components/PageHeader.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout>
  <PageHeader
    title="United States of America Crisis Centres"
    overview={[
      "United States Suicide Prevention Lifelines are available 24/7 988 Suicide and Crisis Lifeline (Formerly National Suicide Prevention Hotline) Call or Text 988 from anywhere in the USA or call National Hope Helpline at 1-800-SUICIDE (1-800-784-2433)",
    ]}
    media={{
      path: "/media/usa-crisis-center-banner.webp",
    }}
  />
  <section class=""></section>
</Layout>
