---
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";
const allPatternInterrupts = await getCollection("pattern_interrupts");
import "../../styles/global.css";
import PageHeader from "../../components/PageHeader.astro";
---

<Layout>
  <PageHeader
    title="Pattern Interruptions"
    overview={[
      "A Pattern Interrupt is a way to alter our mental, emotional, or behavioral state in order to break negative habits. Pattern interrupts offer an effective way to break negative cycles and regain control over our actions, thoughts, and emotions.",
      "By recognizing our patterns, we can intervene and create new pathways for more productive thoughts, behaviors, and emotions and make lasting changes in our lives.",
    ]}
    media={{
      path: "/media/pattern-interrupts.webp",
      summary: "A descriptive alt text"
    }}
  />
  <section class="grid grid-cols-3 gap-16">
    {
      allPatternInterrupts.map((resource) => (
        <Card
          url="resources"
          title={resource.data.title}
          overview={resource.data.description}
        />
      ))
    }
  </section>
</Layout>
